<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.7/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        >
    <testsuites>
        <testsuite name="LoggerTestSuite">
            <file>ut/LoggerTest.php</file>
        </testsuite>
        <testsuite name="FlysystemExtensionSuite">
            <file>ut/AppendableFilesystemTest.php</file>
            <file>ut/AwsS3FilesystemTest.php</file>
        </testsuite>
        <testsuite name="DataSuite">
            <file>ut/DataProviderTest.php</file>
            <file>ut/DataPackerTest.php</file>
        </testsuite>
        <testsuite name="MUtilsSuite">
            <file>ut/MUtilsTest.php</file>
        </testsuite>
        <testsuite name="Event">
            <file>ut/EventTest.php</file>
        </testsuite>
        <testsuite name="Task">
            <file>ut/TaskTest.php</file>
        </testsuite>
        <testsuite name="Cli">
            <file>ut/CommandLineArgParserTest.php</file>
        </testsuite>
    </testsuites>

</phpunit>
